@use "../../font-declarations/roboto/roboto";

.card {
	display: flex;
	flex-direction: column;
}

.img {
	object-fit: cover;
	margin-block-end: 0.9rem;
}

.card__caption {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card__movie-name {
	text-align: center;
	max-width: 200px;
	font-family: roboto;
	font-weight: 700;
	margin-block-end: 0.2rem;
}

.card__movie-year {
	font-family: "roboto";
	font-weight: 400;
}
