@use "../../font-declarations/roboto/roboto";

.header {
	display: flex;
	justify-content: center;

	padding-block-start: 1rem;
	padding-block-end: 1rem;

	margin-block-end: 3rem;
}

.title {
	flex: 1;

	font-family: roboto;
	font-weight: 700;
	font-size: 2rem;

	margin-inline-start: 11.55rem;
	text-align: center;
}
